In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Galaxy141-[Differentially_Methylated_Positions]_HL60.bed", sep="\t")
df

         chr      start        end       names      pval      qval
0       chr1    1268793    1268793  cg00002593  0.001784  0.230238
1       chr6  147124996  147124996  cg00004963  0.003342  0.310830
2       chr2  240404783  240404783  cg00007426  0.001887  0.237170
3       chr2   38710172   38710172  cg00008800  0.000534  0.132411
4       chr4    1615272    1615272  cg00010108  0.001520  0.214507
...      ...        ...        ...         ...       ...       ...
10449  chr17   46628225   46628225  cg27656658  0.000031  0.054371
10450  chr13  110777186  110777186  cg27657439  0.001512  0.214132
10451   chr4    1201316    1201316  cg27660248  0.000451  0.122866
10452  chr19   21666099   21666099  cg27663389  0.003769  0.326929
10453   chr2    3262407    3262407  cg27665397  0.004756  0.361729

[10454 rows x 6 columns]

In [3]:
## Genes to find: SEPT9, BCAT, IKZF
## SEPT9: chr17:75,277,618-75,494,740 REF: https://genome.ucsc.edu/cgi-bin/hgGene?hgg_gene=uc010wtk.2&hgg_prot=uc010wtk.2&hgg_chrom=chr17&hgg_start=75277491&hgg_end=75496678&hgg_type=knownGene&db=hg19&hgsid=969977703_LU7RjI34YEk5kGzwHRBlPgWdTonC
## BCAT: https://www.uniprot.org/uniprotkb/P54687/genomic-coordinates (BCAT1)
## IKZF: https://www.uniprot.org/uniprotkb/Q9H5V7/genomic-coordinatesn (IZKF5)

In [4]:
chr_SEPT9 = "chr17"
start_SEPT9 = 75277618
end_SEPT9 = 75494740

df_SEPT9= df[(df["chr"] == chr_SEPT9) & (df["start"] > start_SEPT9) & (df["end"] < end_SEPT9)]
df_SEPT9 = df_SEPT9.sort_values(by=["start"])
df_SEPT9

        chr     start       end       names      pval      qval
8401  chr17  75282777  75282777  cg21678736  0.002546  0.273065
6139  chr17  75290967  75290967  cg15096327  0.000238  0.093417
2911  chr17  75368903  75368903  cg06848185  0.000828  0.161477
7627  chr17  75369052  75369052  cg19554255  0.000210  0.088554
6725  chr17  75369056  75369056  cg16779463  0.001812  0.232322
6899  chr17  75369091  75369091  cg17300544  0.000032  0.054371
1675  chr17  75369219  75369219  cg03804136  0.000664  0.146034
6117  chr17  75369224  75369224  cg15044248  0.000771  0.155989
1280  chr17  75369228  75369228  cg02884239  0.001839  0.233945
7900  chr17  75369485  75369485  cg20275528  0.000004  0.054172
5084  chr17  75369658  75369658  cg12783819  0.000016  0.054172
2252  chr17  75369940  75369940  cg05184938  0.000107  0.069273

In [5]:
df_SEPT9.to_csv("SEPT9_DMP.csv", sep="\t", index=None)

In [6]:
chr_SEPT9 = "chr17"
start_SEPT9 = 75277581 #75277618
end_SEPT9 = 75496678 #75494740
# chr17:77,280,569-77,500,596
# chr17:75277581-75496678 https://www.genecards.org/cgi-bin/carddisp.pl?gene=SEPTIN9

df_SEPT9= df[(df["chr"] == chr_SEPT9) & (df["start"] > start_SEPT9) & (df["end"] < end_SEPT9)]
df_SEPT9 = df_SEPT9.sort_values(by=["start"])
df_SEPT9

        chr     start       end       names      pval      qval
8401  chr17  75282777  75282777  cg21678736  0.002546  0.273065
6139  chr17  75290967  75290967  cg15096327  0.000238  0.093417
2911  chr17  75368903  75368903  cg06848185  0.000828  0.161477
7627  chr17  75369052  75369052  cg19554255  0.000210  0.088554
6725  chr17  75369056  75369056  cg16779463  0.001812  0.232322
6899  chr17  75369091  75369091  cg17300544  0.000032  0.054371
1675  chr17  75369219  75369219  cg03804136  0.000664  0.146034
6117  chr17  75369224  75369224  cg15044248  0.000771  0.155989
1280  chr17  75369228  75369228  cg02884239  0.001839  0.233945
7900  chr17  75369485  75369485  cg20275528  0.000004  0.054172
5084  chr17  75369658  75369658  cg12783819  0.000016  0.054172
2252  chr17  75369940  75369940  cg05184938  0.000107  0.069273

In [7]:
# chr12:24818008-24901965
# https://genome.ucsc.edu/cgi-bin/hgGene?hgg_gene=ENST00000538118.5&hgg_chrom=chr12&hgg_start=24814802&hgg_end=24902296&hgg_type=knownGene&db=hg38
# chr12:24962958 - 25102035 https://www.genecards.org/cgi-bin/carddisp.pl?gene=BCAT1&keywords=BCAT
chr_BCAT1 = "chr12"
start_BCAT1 = 24818008 #24818011
end_BCAT1 = 24901965 #24948932

df_BCAT1_start_end = df[(df["chr"] == chr_BCAT1) & (df["start"] > start_BCAT1) & (df["end"] < end_BCAT1)]
df_BCAT1_start_end = df_BCAT1_start_end.sort_values(by=["start"])
df_BCAT1_start_end

Empty DataFrame
Columns: [chr, start, end, names, pval, qval]
Index: []

In [8]:
#  BCAT2: chr19:49298319-49314320 -
# https://genome.ucsc.edu/cgi-bin/hgSearch?search=BCAT2&hgsid=1875698340_GtbvxftyZyCpb3AnZw52Xmnxi8d6&db=hg19

chr_BCAT2 = "chr19"
start_BCAT2 = 49298319 #24818011
end_BCAT2 = 49314320 #24948932

df_BCAT2_start_end = df[(df["chr"] == chr_BCAT2) & (df["start"] > start_BCAT2) & (df["end"] < end_BCAT2)]
df_BCAT2_start_end = df_BCAT2_start_end.sort_values(by=["start"])
df_BCAT2_start_end

Empty DataFrame
Columns: [chr, start, end, names, pval, qval]
Index: []

In [9]:
# https://genome.ucsc.edu/cgi-bin/hgGene?db=hg19&hgg_gene=IKZF1
## hg19 chr7:50358658-50468325
# chr7:50343660-50472799 https://www.genecards.org/cgi-bin/carddisp.pl?gene=IKZF1&keywords=IZKF
chr_IKZF1 = "chr7"
start_IKZF1 = 50358658 #50358658
end_IKZF1 = 50468325 #50468325

df_IKZF1_start_end = df[(df["chr"] == chr_IKZF1) & (df["start"] > start_IKZF1) & (df["end"] < end_IKZF1)]
df_IKZF1_start_end = df_IKZF1_start_end.sort_values(by=["start"])
df_IKZF1_start_end

Empty DataFrame
Columns: [chr, start, end, names, pval, qval]
Index: []

In [10]:
# https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg19&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position=chr10%3A124750322%2D124768203&hgsid=314529738_pFN0aqbSyP08GCaia0ewEe4A4VJH
# chr10:124750322-124768203
chr_IKZF5 = "chr10"
start_IKZF5 = 124750322
end_IKZF5 = 124768203

df_IKZF5_start_end = df[(df["chr"] == chr_IKZF5) & (df["start"] > start_IKZF5) & (df["end"] < end_IKZF5)]
df_IKZF5_start_end = df_IKZF5_start_end.sort_values(by=["start"])
df_IKZF5_start_end

Empty DataFrame
Columns: [chr, start, end, names, pval, qval]
Index: []

In [11]:
# https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg19&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position=chr12%3A56414689%2D56432219&hgsid=314530183_fjNhmEdlSecpF1SaIvkh4eOCTfAo
# chr12:56414689-56432219

chr_IKZF4 = "chr12"
start_IKZF4 = 56414689
end_IKZF4 = 56432219

df_IKZF4_start_end = df[(df["chr"] == chr_IKZF4) & (df["start"] > start_IKZF4) & (df["end"] < end_IKZF4)]
df_IKZF4_start_end = df_IKZF4_start_end.sort_values(by=["start"])
df_IKZF4_start_end

Empty DataFrame
Columns: [chr, start, end, names, pval, qval]
Index: []

In [12]:
# chr17:37913968-38020441
# https://genome-euro.ucsc.edu/cgi-bin/hgTracks?db=hg19&lastVirtModeType=default&lastVirtModeExtraState=&virtModeType=default&virtMode=0&nonVirtPosition=&position=chr17%3A37913968%2D38020441&hgsid=314530192_nLbeSKfE0tbbVSaZRUnRUNofFFY1

chr_IKZF3 = "chr17"
start_IKZF3 = 37913968
end_IKZF3 = 38020441

df_IKZF3_start_end = df[(df["chr"] == chr_IKZF3) & (df["start"] > start_IKZF3) & (df["end"] < end_IKZF3)]
df_IKZF3_start_end = df_IKZF3_start_end.sort_values(by=["start"])
df_IKZF3_start_end

Empty DataFrame
Columns: [chr, start, end, names, pval, qval]
Index: []